.search-load {
    display: flex;
    justify-content: center;
    align-items:center;
}
.search-btn{
    position:absolute;
    right:20px;
    top:35px;
    background-color: rgb(94, 255, 1);
    color: black;
    padding: 4px 5px;
    cursor: pointer;
    text-align: center;
    border:1px solid rgb(1, 59, 1);
    border-radius:8px
}

.search-form {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100px;
    flex-direction: column;
    height: 50vh;
	
}
.search-form .searchBox input {
	padding:5px 5px ;
	outline: none;
	border-radius: 8px;
    border:1px solid green;
}
